/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}


.legend {
  width: 125px;
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.legend i {
  width: 25px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}